Lambda functions are small anonymous functions defined using the lambda keyword. they can have any number of arguements but only one expression. they are commonly used for short operations or as arguements to higher-order funtions.

In [ ]:
## syntax
## lambda arguements: expression

In [2]:
def addition(a,b):
    return a+b

In [3]:
add = lambda a,b:a+b
print(add(5,6))

11

In [4]:
def even(num):
    if(num%2==0):
        return True
even(24)

True

In [5]:
even1 = lambda n:n%2==0
even1(3)

False

In [6]:
def addition(x,y,z):
    return x+y+z
addition(3,4,5)

12

In [7]:
addition1=lambda x,y,z: x+y+z
addition1(2,3,4)

9

In [8]:
## map function
numbers=[1,2,3,4]
def square(number):
    return number**2
square(2)

4

In [9]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16]

map() function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iterator). this is particulary useful for transforming data in a list comprehensively.

In [10]:
def square(c):
    return c*c

In [15]:
square(3)

9

In [16]:
numbers=[1,2,3,4,5]
list(map(square,numbers))

[1, 4, 9, 16, 25]

In [17]:
## lambda function with map
numbers=[1,2,3,4]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16]

In [18]:
## map multiple iterables
number1=[1,2,3]
number2=[4,5,6]
added_numbers=list(map(lambda x,y:x+y,number1,number2))
print(added_numbers)

[5, 7, 9]

In [19]:
## map() to convert a lsit of strings to integers
## use map to convert strings to integers
str_numbers=['1','2','3','4']
int_nummbers=list(map(int,str_numbers))
print(int_nummbers)

[1, 2, 3, 4]

In [20]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [23]:
def get_name(person):
    return person['name']
people=[
    {'name':'krish','age':32},
    {'name':'jack','age':33}
]
list(map(get_name,people))

['krish', 'jack']

conculsion
it is a powerful tool for applying transformations to iterable data structures. it can be used with regular functions, lambda functions and even multiple iterables, providing a versatile approach to data processing in python.

filter function in python
it constructs an iterator from elements of an iterable for which a function returns true. it is used to filter out items from a list(or anyother iterable) based on a condition.

In [24]:
def even(num):
    if num%2==0:
        return True

In [25]:
even(24)

True

In [26]:
lst=[1,2,3,3,4,6,7,8,10,34]

In [28]:
list(filter(even,lst))

[2, 4, 6, 8, 10, 34]

In [29]:
## filter with a lambda function
numbers=[1,2,3,4,9,9,28,3,4]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[9, 9, 28]

In [31]:
## filter with lambda functions and multiple condition
numbers=[1,2,3,4,5,6,7]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
even_and_greater_than_five

[6]

In [37]:
## filter() to check if the age is greater than 25 in dictionaries
people=[
    {'name':'krish','age':32},
    {'name':'abhi','age':21},
     {'name':'hina','age':27}
]

In [38]:
def age_greater(person):
    return person['age']>25

In [39]:
list(filter(age_greater,people))

[{'name': 'krish', 'age': 32}, {'name': 'hina', 'age': 27}]

filter() function is a powerful tool for creating iterators that filter items out of an iterable based on a function. it is commonly used for data cleaning, filtering objects, and removing unwanted elements from lists.